* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
}

.container {
  display: flex;
  background-color: #9381a9;
  /* border-radius: 20px; */
  width: 100%;
  height: 100vh;
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); */
}

.login-box {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 400px;
  height: 450px;
}

.login h2 {
  color: #5b4483;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.input-group input[type="text"],
input[type="password"] {
  color: black;
  width: 100%;
  padding: 10px;
  padding-right: 55px;
  border: 1px solid #ccc;
  background-color: #9381a9;
  font-size: 16px;
  color: #3a214f;
}

input::placeholder {
  color: #422d6a;
  opacity: 1;
}

.eye-icon {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-55%);
  cursor: pointer;
  color: #ffffff;
  user-select: none;
}

.forgot-password {
  align-self: flex-end;
  color: blueviolet;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #3a214f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4b2972;
}

.or {
  text-align: center;
  margin: 20px 0;
  color: #888;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons .icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.signup {
  text-align: center;
  color: #888;
}

.signup a {
  color: blueviolet;
}

.info-box {
  flex: 1;
  background-color: #4e366d;
  border-radius: 10px 0 0 10px;
  /* padding: 30px; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.info {
  /* background-color: rgb(26, 27, 28); */
  width: 70%;
  height: auto;
  color: white;
}

.info h1 {
  margin-bottom: 10px;
}

.info p {
  margin-bottom: 20px;
}

.info img {
  width: 100%;
  height: auto;
  user-select: none;
}

/* Styling untuk toast/snackbar */
.toast {
  visibility: hidden;
  background-color: #4e4a5296;
  color: #fff;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  transition: opacity 0.5s, top 1s;
  top: 5px;
  left: 5px;
  opacity: 0;
}

.toast.show {
  visibility: visible;
  opacity: 70%;
  top: 5px;
  left: 5px;
}

/* Default CSS sudah terdefinisi */

@media only screen and (max-width: 1200px) {
  .info-box {
    flex: 1;
    border-radius: 10px 10px 0 0;
    width: 50%;
    height: auto;
  }

  .login-box {
    flex: 1;
    width: 100%;
  }

  .login {
    width: 500px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .login {
    width: 300px;
    padding: 20px;
  }

  .login h2 {
    font-size: 24px;
  }

  .input-group input[type="text"],
  input[type="password"] {
    font-size: 14px;
    padding: 8px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .login {
    width: 90%;
  }

  .login h2 {
    font-size: 20px;
  }

  .info-box {
    display: none;
  }
}
