* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
}

.container {
    display: flex;
    background-color: #e4e1e1;
    width: 100%;
    height: 100vh;
}

.register-box {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: auto;
}

.register h2 {
    color: #5b4483;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.input-group input[type="text"],
input[type="email"],
input[type="password"] {
    color: black;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #e4e1e1;
    font-size: 16px;
    color: #3a214f;
}

input::placeholder {
    color: #422d6a;
    opacity: 1;
}

.eye-icon {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-55%);
    cursor: pointer;
    color: #ffffff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #422d6a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4b2972;
}

.or {
    text-align: center;
    margin: 20px 0;
    color: #888;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons .icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.signup {
    text-align: center;
    color: #888;
}

.signup a {
    color: blueviolet;
}

.info-box {
    flex: 1;
    background-color: #422d6a;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    width: 70%;
    height: auto;
    color: white;
}

.info h1 {
    margin-bottom: 10px;
}

.info p {
    margin-bottom: 20px;
}

.info img {
    width: 70%;
    height: auto;
    border: 10px solid #5b4483;
    /* border-radius: 10px; */
}

/* Responsive CSS */

@media only screen and (max-width: 1200px) {
    .info-box {
        flex: 1;
        border-radius: 10px 10px 0 0;
        width: 50%;
        height: auto;
    }

    .register-box {
        flex: 1;
        width: 100%;
    }

    .register {
        width: 350px;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .register {
        width: 300px;
        padding: 20px;
    }

    .register h2 {
        font-size: 24px;
    }

    .input-group input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .register {
        width: 90%;
    }

    .register h2 {
        font-size: 20px;
    }

    .info-box {
        display: none;
    }
}